
    <footer>Todos los derechos reservados,DESARROLLADO POR J MULLER</footer>
       <script src="Jquery/jquery-1.6.3.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    

</body>
</html>