{{>header}}
<p>Bienvenido a la pagina de inicio</p>
<form action="/calculos" method="post" >
<div class="form-group"></
  <label for="formGroupExampleInput">Nombre</label>
  <input type="text" class="form-control" name="nombre" placeholder="Nombre de usuario" required>
<div class="row">
  <div class="col">
    <label for="formGroupExampleInput">Nota 1</label>
    <input type="text" class="form-control" name="nota1" placeholder="Nota 1" required>
  </div>
  <div class="col">
      <label for="formGroupExampleInput">Nota 2</label>
      <input type="text" class="form-control" name="nota2" placeholder="Nota 2" required>
  </div>
  <div class="col">
      <label for="formGroupExampleInput">Nota 3</label>
      <input type="text" class="form-control" name="nota3" placeholder="Nota 3" required>
</div>
</div>
<br>
<button class="btn btn-primary">Calcular</button>
</div>
</form>
<p>LISTA DE ESTUDIANTES</p>


{{>footer}}